doctype html
html
  head
    block pre
    title= pageTitle || "keenaudio"
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    script.
      document.write('<script src="http://' + (location.host ||      'localhost').split(':')[0] + ':#{ config.get("livereload") }/livereload.js?snipver=1"></' + 'script>')
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")
    link(rel="stylesheet", type="text/css", href="styles.css")
    block head
  body

    #panorama.gradient-bg
    #wrap
      #header
        include header
      #content
        block content

      #footer
        include footer

 
