div.play-clip(ng-if='clip')
  .clip-border
    table
      tr
        td.p5
          a.btn.btn-primary(k-play-button='', model='model')
        td.smaller.p5
          a.smaller(ng-href="{{ clip.url }}") {{ clip.fileName }}
          div.smaller {{ clip.fileRelPath }}
