extends ../layouts/master

block head

block content
  #app(ng-app="keenaudio")
    div(ng-view="")

  //script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js")
  script(src="/bower_components/angular/angular.js")
  //script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.js")
  script(src="/bower_components/angular-route/angular-route.js")
  script(src="app.js")
  script(src="app-templates.js")
  script(src="views/main/main.js")


