.track-mixer
  div(k-track-controls='', track='track')
  div(k-panner='', panner='track.panner')
  .relative
    .center(k-fader='', track='track', node='track.nodes.volume')
    .vu-meter(k-vu-meter='', node='track.nodes.output')
  strong {{ track.name }}
