table.tracks {
  border: 1px #ccc solid;
  vertical-align: top;
}

table.tracks > tbody > tr > th,
td.scene-label {
  padding: 10px;
  border-style: solid;
}

table.tracks > tbody > tr > td {
/*  padding: 10px;*/
  border: 1px #777 solid;
}

table.header > tbody > tr > td {
  padding: 5px;
}

td.larger {
  font-size: 2em;
  font-weight: bold;
}

td.smaller {
  font-size: smaller;
  font-weight: lighter;
}


table.play-clip {
  background-color: #777;
  border: 1px #999 solid;
  min-width: 100%;
  white-space: nowrap;
}

.grid-cell {
  width: 200px;
  height: 80px;
  background: orange;
  display: inline-block;
}

.grid-row {
  display: block;
  background: blue;
}