#app {
  height: 100%;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  overflow: hidden;
}

table.tracks {
  border: 1px #ccc solid;
  vertical-align: top;
}

table.tracks > tbody > tr > th,
td.scene-label {
  padding: 10px;
  border-style: solid;
}

table.tracks > tbody > tr > td {
/*  padding: 10px;*/
  border: 1px #777 solid;
}

table.header > tbody > tr > td {
  padding: 5px;
}

td.larger {
  font-size: 2em;
  font-weight: bold;
}

td.smaller {
  font-size: smaller;
  font-weight: lighter;
}


/*.play-clip {
  background-color: #777;
  border: 1px #999 solid;
  white-space: nowrap;
  margin: 5px;
  text-align: center;
}
*/
/*.play-clip > table {
  background: transparent !important;
}*/

.grid-cell {
  width: 160px;
  height: 100%;
  /*background: orange;
*/  display: inline-block;
border: 1px #222 solid;
overflow: hidden;
  text-overflow: ellipsis;
}

.grid-row {
  display: block;
  /*background: blue;
*/  height: 80px;
  width: auto;
  white-space: nowrap;

}
.master-mixer.grid-row {
  background: #fff;
}
.track-mixer.grid-row,
.master-mixer.grid-row {
  height: 240px;
  position: absolute;
  bottom: 0px;
}

.track-mixer.grid-row {
  background: #aaa;
  color: #000;

}

.track-mixer-spacer {
  display: block;
  height: 200px;
}

.scroll-container {
  overflow: auto;
  max-width: 100%;
  max-height: 100%;
}

.scroll-container.scroll-x {
  overflow-y: hidden;
}

.scroll-container.scroll-y {
  overflow-x: hidden;
}


.scroll-container.h100p {
  max-height: none;
  height: 100% !important;
}

.track-list {
  position: absolute;
  z-index: 1;
  left: 0px;
  right: 0px;
/*  height: auto;
  min-height: 100%;
*/
  height: 100%;
  overflow: hidden;
}

.track-list > .scroll-container {
  height: 100%;
}

.corner-controls,
.master-mixer {
  width: 160px;
  z-index: 3;
  position: absolute;

  right: 0px;
  overflow: hidden;

}

.corner-controls {
    top: 0px;
  background: #666;
  color: #aaa;
}

.master-mixer {
  bottom: 0px;
}
/*
.scene-list > .scroll-content {
  padding-top: 80px;
}
*/

.project {
  overflow: hidden;
}

.project-header {
  height: 50px;
  display: inline-block;
  padding-left: 20px;
/*  border-bottom: 2px #CCC solid;
*/  overflow: hidden;
vertical-align: top;
line-height: 50px;
}

.project-name {
  font-size: 2em;
  font-weight: bold;
  margin-right: 20px;
}
.project-content {
  position: absolute;
  top: 80px;
  bottom: 0px;
  width: 100%;
}

.track-headers {
  background: #ccc;
  color: #000;
  z-index: 2;
}

.set-controls {
  position: relative;
  z-index: 2;
  background: #AAA;
  color: #555;
}

.fader.ui-slider.vertical {
  width: 60px;
  height: 160px;
  margin: 20px auto 0px auto;
}

.fader.ui-slider > .ui-slider-handle {
  width: 80px;
  height: 40px;
  left: -10px;
  /*margin-bottom: 10px;*/
}

.main-nav {
  vertical-align: top;
}
.main-nav > .navbar {
  display: inline-block;
  height: 50px;
}

.project-sets {
  position: absolute;
  z-index: 2;
  right: 0px;
  top: 0px;
}

.set-label {
  background: #aaa;
  color: black;
}

.project-grid {
/*  margin-bottom: -200px;
*/}

.play-set > table {
  background: transparent;
}

.play-clip {
  position: relative;
  height: 100%;
}

.play-clip > .clip-border {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background-color: #777;
  border: 1px #999 solid;
  white-space: nowrap;
  border-radius: 6px;
  padding: 5px;
  overflow: hidden;
}

.clip-border > table {
  background: transparent !important;
  margin-top: 5px;
}

.vu-meter {
  position: absolute;
  bottom: 10px;
  left: 5px;
  border: 1px #333 solid;
  background: #000;
}
.vu-meter-canvas {
  width: 32px;
  height: 120px;

}

.btn-solo {
  background: #777;
  color: #333;
  border-color: #777;
}

.btn-solo.active {
  background: #ffff00;
  border-color: #ffff00;
  color: #000;
}
