#app {
  height: 100%;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  overflow: hidden;
}

table.tracks {
  border: 1px #ddd solid;
  vertical-align: top;
}

table.tracks > tbody > tr > th,
td.scene-label {
  padding: 10px;
  border-style: solid;
}

table.tracks > tbody > tr > td {
/*  padding: 10px;*/
  border: 1px #777 solid;
}

table.header > tbody > tr > td {
  padding: 5px;
}

td.larger {
  font-size: 2em;
  font-weight: bold;
}

td.smaller {
  font-size: smaller;
  font-weight: lighter;
}


/*.play-clip {
  background-color: #777;
  border: 1px #999 solid;
  white-space: nowrap;
  margin: 5px;
  text-align: center;
}
*/
/*.play-clip > table {
  background: transparent !important;
}*/


.track-mixer-spacer {
  display: block;
  height: 200px;
}

.scroll-container {
  overflow: auto;
  max-width: 100%;
  max-height: 100%;
}

.scroll-container.scroll-x {
  overflow-y: hidden;
}

.scroll-container.scroll-y {
  overflow-x: hidden;
}


.scroll-container.h100p {
  max-height: none;
  height: 100% !important;
}


.main-nav {
  vertical-align: top;
}
.main-nav > .navbar {
  display: inline-block;
  height: 50px;
}

