.k-play-button
  .w100p(ng-switch="model.state", ng-click="onClick()")
    i.glyphicon.glyphicon-play(ng-switch-when="paused")
    i.glyphicon.glyphicon-pause(ng-switch-when="playing")
    .w100p(ng-switch-when="loading")
      div.loading-bar(style="width: {{ model.percent * 100 }}%;")