div.project.relative.h100p
  .track-list
    .scroll-container.relative
      .project-grid.scroll-content
        .track-headers.grid-row
          .grid-cell.short(ng-repeat='(index, track) in project.tracks')
            div(k-track-header='', track='track')
        .track-clips.grid-row(ng-repeat='set in project.sets')
          .grid-cell(ng-repeat='track in mixer.tracks')
            div.h100p(k-play-clip='', clip='track.getClip(set.id)')
        .set-labels.grid-row
           .grid-cell(ng-repeat='set in project.sets')
              div.h100p(k-set='', set='set')
        .track-mixers.grid-row
          .grid-cell.tall(ng-repeat='track in mixer.tracks', k-track-mixer='')

  .corner-controls.grid-row
    .grid-cell.short
       button.btn.btn-primary(ng-click='addTrack()', type='button') [+] Add Track

  .master-mixer.grid-row
    .grid-cell.tall
      div(k-master-controls='')

