div(k-als-project='')
  h1 Ableton Project

  table.tracks
    tr
      th(ng-repeat='track in tracks') {{ track.name }}
      th

    tr(ng-repeat='scene in scenes')
      td(ng-repeat='track in tracks')
        div(k-als-clip='', clip='track.getClip(scene.index)')
      td.scene-label
        {{ scene.name }}
