div(k-als-project='')
  table.header
    tr
      td.larger {{ name }}
      td.smaller {{ props.Creator }}

  table.tracks
    tr
      th(ng-repeat='track in tracks') {{ track.name }}
      th

    tr(ng-repeat='scene in scenes')
      td(ng-repeat='track in tracks')
        div(k-als-clip='', clip='track.getClip(scene.index)')
      td.scene-label
        div(k-als-scene='', scene='scene')



