div(k-als-project='')
  table.header
    tr
      td.larger {{ name }}
      td.smaller {{ props.Creator }}

  table.table.table-striped.table-bordered
    tr
      th(ng-repeat='(index, track) in tracks') 
        input.form-control(type='input', ng-model='track.name', placeholder='Edit track name')
        button.btn.btn-warning.btn-sm(ng-click='removeTrack(index)', type='button') [X]
      th
        button.btn.btn-primary(ng-click='addTrack()', type='button') [+] Add Track

    tr(ng-repeat='scene in scenes')
      td(ng-repeat='track in tracks')
        div.h100p(k-als-clip='', clip='track.getClip(scene.index)')
      td.scene-label(style='position: fixed; right: 0; max-width: 200px;')
        div(k-als-scene='', scene='scene')



