div.panner
  label.btn.btn-xs.btn-default.col1 L
  div.panner-fader.fader.horizontal.col2(
    ui-slider="{ orientation: 'horizontal', range: 'min'}"
    min="0"
    max="100"
    ng-model="value")
      
  label.btn.btn-xs.btn-default.col3 R
