.master-controls
  div.btn-group.btn-group-sm
    label.btn.btn-solo(
      ng-click='mixer.clearSolo()'
      ng-class='{ active: mixer.soloActive }'
      ng-disabled='!mixer.soloActive'
    ) Clear Solo
  .relative
    div.center(k-fader='', node='mixer.nodes.masterVolume')
    .vu-meter(k-vu-meter='', node='mixer.nodes.masterVolume')

  strong Master

